.item {
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgb(120, 115, 117);
  margin-bottom: 12px;
}

.status {
  margin: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.true {
  composes: status;
  background-color: green;
}

.false {
  composes: status;
  background-color: red;
}

.name {
  font-weight: 500;
}